* {
  margin: 0;
  padding: 0;
}

#mainbody {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

#search-bar {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding-top: 35vh;
}

#pokemonSearch {
  min-height: 5vh;
  text-align: center;
}

#search-results {
  overflow-y: scroll;
}

#search-list {
  min-height: 59vh;
}

#search-list > li {
  display: flex;
  font-family: arial;
  list-style-type: none;
  justify-content: center;
  padding: 4px;
}
