* {
  margin: 0;
  padding: 0;
  font-family: arial;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

#container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

#container-bg {
  z-index: -1;
}

#bg-img {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.7;
}

#main-header {
  display: flex;
  justify-content: end;
  height: 60px;
  width: 100%;
  background-image: linear-gradient(
    to top,
    rgba(147, 198, 229, 0.8),
    rgba(98, 152, 192, 1)
  );
}

#main-body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

#main-search {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  position: absolute;
  padding: 13px;
}

#main-search-bar {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  background: white;
}

#search-input {
  height: 30px;
  font-size: 18px;
  text-align: center;
  border: none;
  border-radius: 5px;
}

#main-search-bar::-webkit-input-placeholder {
  opacity: 0.5;
}

#main-search-results {
  display: none;
  overflow-y: scroll;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  background: white;
}

#main-search-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.search-list-item {
  font-family: arial;
  list-style-type: none;
  padding: 2px;
}

.search-list-item:hover {
  cursor: context-menu;
  background-color: lightgrey;
}

::-webkit-scrollbar {
  width: 0px;
}

#pokemon-display {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.pkmn-info-container {
  /* background: aquamarine; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.5);
}

.pkmn-info-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px 10px 0 0;
}

.stat-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.stat-bar {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 90%;
  justify-content: space-between;
}

.stat-block {
  list-style-type: none;
  width: 10px;
  height: 10px;
  padding: 5px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}

.stat-name {
  width: 145px;
  text-align: center;
}
